* {
  padding: 0;
  margin: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}


body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Prociono', serif;
}


/* BLUE BACKGROUND */
.header-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to top right, rgb(255, 255, 255) 65%, rgba(79, 79, 203, 0.35));
  overflow: hidden;
  z-index: -1;
}

.bkgd-bt-lt { /* background blue*/
  height: 40px;
  background-image: linear-gradient(to bottom left, rgb(255, 255, 255) 80%, rgba(79, 79, 203, 0.35));
  overflow: hidden;
  z-index: -2;
}

.bkgd-bt-rt { /* background blue*/
  height: 40px;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255) 80%, rgba(79, 79, 203, 0.35));
  overflow: hidden;
  z-index: -2;
}

.bkgd-top-lt { /* background blue*/
  height: 40px;
  background-image: linear-gradient(to top left, rgb(255, 255, 255) 80%, rgba(79, 79, 203, 0.35));
  overflow: hidden;
  z-index: -2;
}

.bkgd-top-rt { /* background blue*/
  height: 35px;
background-image: linear-gradient(to top right, rgb(255, 255, 255) 80%, rgba(79, 79, 203, 0.35));
}

.sct-bckgd-lt { /* background blue*/
  background-image: linear-gradient(to left, rgb(255, 255, 255) 61%, rgba(79, 79, 203, 0.35));
  overflow: hidden;
  z-index: -2;
}

.sct-bckgd-rt { /* background blue*/
  background-image: linear-gradient(to right, rgb(255, 255, 255) 61%, rgba(79, 79, 203, 0.35));
  overflow: hidden;
  z-index: -2;
}

.footer-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-image: linear-gradient(to bottom left, rgb(255, 255, 255) 65%, rgba(79, 79, 203, 0.35));
  overflow: hidden;
  z-index: -2;
}

/* Multiple selectors and element styles */

a {
  text-decoration: none;
  color: black;
}

button {
  box-shadow: 1px 1px 2px #888888;
  background-color: rgb(203,79,79);
  border: none;
  margin-top: 8px;
  padding: 2px;
  color: white;
}

li {
  display: inline-block;
  list-style: none; 
}

.sct-title{
  padding-left: 80px;
  padding-bottom: 8px;
}

.title-font {
  font-family: 'Fjalla One', sans-serif;
}



.books:hover, button:hover {
  cursor: pointer;
}

.img-style {
  box-shadow: 1px 1px 1px #888888 ;
  border-radius: 1px;
}

/* HEADER STYLES  */
header {
  width: 100%;
  padding: 20px 0;
  margin: auto;
}

.logo {
  color: rgb(203,79,79);
  margin: 0 80px; 
}

/* MAIN STYLES*/
.centered-sections { /* centers content and allows for the blue background*/
  width: 70%;
  margin: auto;
}

.clearfix {
  overflow: auto;
}

/* LATEST STYLES */
.latest {
  padding: 50px 20px 30px 20px;
}

.latestImage {
  float: left;
  margin: 0 20px 0 0;
}

/* COLLECTION STLYES */
.collections {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 15px auto;
}

.books {
  text-align: center;
  margin: 7px 9px;
}

.books h4 {
  margin-top: 10px;
}

/* BIO STYLES */
.bio {
  padding: 25px 0;
}

.portrait {
  float: left;
  margin: 5px 15px 8px 0;
}

.bio p {
  line-height: 1.3;
  text-indent: 5px;
  padding-top: 10px
}

.bio > .clearfix {
  max-width: 800px;
}

/* CONTACT STYLES */

form {
  max-width: 75%;
  min-width: 200px;
  height: 400px; 
  margin: auto;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}

input {
  width: 95%;
  margin: 0 auto 7px;
  padding: 5px;
}

textarea {
  width: 95%;
  height: 30%;
  margin: 0 auto;
  resize: none;
}

textarea[placeholder] {
  padding: 6px 10px;
}

button[type="submit"] {
  width: 60px;
  margin: 18px 0 4px 34px;
}

button[type="reset"] {
  width: 60px;
  
  }

small {
  padding-left: 32px;
}

/* FOOTER STYLES */
footer {
  clear: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.team_awesome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-awesome-logo {
  display: flex;
  align-items: center;
}

.social li {
  margin-left: 10px;
}

/* ENVELOPE */
.sentMess {
  position: relative;
}

.sentMess > h3, .sentMess > p {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(63, 63, 84);
  font-family: 'La Belle Aurore', cursive; 
}

.sentMess > p {
  top: 105px;
} 

.envelope{
  width:0;
  height:0; 
  top: 8px;
  left: 50%;
  transform: translateX(-50%);    
  border-top: 70px solid rgb(130, 130, 173);
  border-left: 98px solid rgb(194,194,237);
  border-bottom: 49px solid rgb(182, 182, 234);
  border-right: 98px solid rgb(194,194,237);
  box-shadow: 0px 0px 0 1px rgb(138, 138, 164) ;
  position: absolute;
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  .bio > .clearfix {
    max-width: 550px;
  }
}

/* small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  .latestImage {
  float: none;
  margin: 0 auto;
  }

  .latestBlurb {
  max-width: 550px;
  }

  .bio > .clearfix {
  max-width: 450px;
  }
}

/* small devices (phones, 550px and down) */
@media only screen and (max-width: 550px) {
  .team_awesome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }

  .team-awesome-logo img {
  display: none;
  } 

  .bio > .clearfix {
  max-width: 250px;
  }
}

/* small devices (phones, 452px and down) */
@media only screen and (max-width: 452px) {
  header {
    text-align: center;
  }

  .logo {
    width: 90%;
    margin: auto;
  }

  main {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .latestBlurb, .latestSubtitle, .latestTitle {
    text-align: left;
  }

  .sct-title {
    padding-left: 0px;
    padding-bottom: px;
  }

  .portrait {
    float: none;
    margin: 0;
  }

  footer {
    padding: 0;
    margin: 0;
    text-align: center;
  }
 
}
